.AppBar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.nav-link {
  font-size: 25px;
  font-weight: 500;
  font-family: 'Cormorant', serif;
  padding: 10px 0px !important;
  margin: 0px 10px !important;
  box-sizing: border-box;
}

@media only screen and (max-width: 1050px) {
  .nav-link {
    font-size: 40px;
    font-family: 'Cormorant', serif;
    padding: 10px;
  }
}

.user-text {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Cormorant', serif;
  padding: 0;
  margin: 2px;
}
