.formikForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-with-input-data {
  gap: 10px !important;
}

#success {
  color: green;
  border: 2px solid green;
}
#submit-contact-button {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.input-error {
  border: 1px solid red !important;
}
.disbaled-button {
  color: black;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  margin: 10px;
  border-color: antiquewhite;
}
.app__contact-button-submit {
  color: blue;
  width: 150px;
  height: 35px;
  margin: 10px;
  color: white;
  border-radius: 10px;
}
