.testimonials-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonials-text {
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 50px;
}

.what-my-clients-say {
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 30px;
}
.app-scrollable-testimonials-container {
  scroll-behavior: smooth;
  box-sizing: border-box;
  box-shadow: 1px 1px 100px rgb(245, 240, 240);
  min-width: 100vw;
}
.clients-data {
  width: 100% !important;
  background-color: beige;
  height: 200px;
  border-radius: 40px 40px 40px 0px;
  margin: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pseudoContainer {
  transition: all 0.4s ease-in-out;
}
.ceoimage {
  object-fit: cover;
}

.app-scrollable-testimonials-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  background-color: rgb(250, 250, 248);
}
.app-scrollable-testimonials-container ::-webkit-scrollbar {
  display: none;
}

.clients-data .portion1 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90% !important;
  padding-top: 10px !important;
  font-family: 'Cormorant', serif;
  font-weight: 400;
}
.clients-data .portion3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100% !important;
  justify-content: space-around !important;
}
.client-name {
  font-style: italic;
}
.clients-data .portion3 img {
  width: 70px;
  height: 70px;
  border-radius: 50% !important;
}
.client-name-and-occupation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.app-testimonials-container {
  display: flex;
  flex-direction: row;
  width: max-content;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app-testimonial-slide-container::-webkit-scrollbar {
  display: none;
}

.app__gallery-images_arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
  position: absolute;
  bottom: 5%;
}

.gallery__arrow-icon {
  color: goldenrod;
  font-size: 2rem;
  cursor: pointer;
  background: black;
  border-radius: 5px;
}

.gallery__arrow-icon:hover {
  color: red;
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 650px) {
  .gallery__arrow-icon {
    background: beige;
    color: black;
  }
  .app-scrollable-testimonials-container {
    box-shadow: 1px 1px 300px rgb(219, 216, 216);
  }
  .clients-data {
    box-shadow: 1px 1px 30px rgb(245, 245, 237);
  }
}
