.app-contact-me-main-container {
  display: flex;
  flex-direction: column;
  height: 100vh !important;
}
.CON-CON {
  width: 100% !important;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.contact-me-divider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.app-main-contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  min-width: 100% !important;
  margin: auto;
}

.left-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100% !important;
  color: whitesmoke;
}
.contact-me-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  color: white;
  padding-bottom: 30px;
}
.contact-typical-text {
  color: white;
}

.controls-container {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}
.email-input {
  all: initial;
  background-color: inherit;
  border: 1px solid white;
  color: white;
  height: 40px;

  font-family: 'Cormorant', serif;
}
.controls-container .username-input {
  all: initial;
  background-color: inherit;
  border: 1px solid white;
  height: 40px;
  color: white;

  font-family: 'Cormorant', serif;
}
.controls-container .message-input {
  all: initial;
  background-color: inherit;
  border: 1px solid white;
  color: whitesmoke;
  font-family: 'Cormorant', serif;
  height: 100px;
}
.react-social-icons {
  gap: 10px;
  font-size: 20px;
}
.official-handles {
  padding: 2px;
  margin: 2px !important;
}
.all-rights {
  font-style: italic;
}

@media only screen and (max-width: 650px) {
  .controls-container .username-input {
    width: 80% !important;
    border-radius: 5px;
    font-size: 26px;
  }
  .controls-container .email-input {
    width: 80% !important;
    border-radius: 5px;
    font-size: 26px;
  }
  .controls-container .message-input {
    width: 80% !important;
    border-radius: 7px;
    font-size: 26px;
  }
}
@media only screen and (min-width: 650px) {
  .controls-container .username-input {
    width: 50% !important;
    border-radius: 5px;
    font-size: 26px;
  }
  .controls-container .email-input {
    width: 50% !important;
    border-radius: 5px;
    font-size: 26px;
  }
  .controls-container .message-input {
    width: 60% !important;
    border-radius: 7px;
    font-size: 27px;
  }

  .fa-copyright-text {
    margin-top: 0 !important;
    margin-bottom: 0px !important;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid rgb(41, 38, 38);
  }
  .react-social-icons {
    gap: 20px;
    font-size: 30px;
  }
  .media-item {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
}
