.app-contact-me-main-container {
  display: flex;
  flex-direction: column;
}
.CON-CON {
  width: 100% !important;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.contact-me-divider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.app-main-contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  min-width: 100% !important;
  margin: auto;
}

.left-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100% !important;
  color: goldenrod;
}
.contact-me-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  color: goldenrod;
}

.controls-container {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.controls-container .email-input {
  background-color: inherit;
  border: 1px solid goldenrod;
  color: aliceblue;
  height: 40px;
}
.controls-container .username-input {
  background-color: inherit;
  border: 1px solid goldenrod;
  color: aliceblue;
  height: 40px;
}
.controls-container .message-input {
  background-color: inherit;
  border: 1px solid goldenrod;
  color: aliceblue;
  height: 100px;
  color: gold;
}

@media only screen and (max-width: 650px) {
  .controls-container .username-input {
    width: 80% !important;
    border-radius: 5px;
    font-size: 26px;
  }
  .controls-container .email-input {
    width: 80% !important;
    border-radius: 5px;
    font-size: 26px;
  }
  .controls-container .message-input {
    width: 80% !important;
    border-radius: 7px;
    font-size: 26px;
  }
}
@media only screen and (min-width: 650px) {
  .controls-container .username-input {
    width: 50% !important;
    border-radius: 5px;
    font-size: 26px;
  }
  .controls-container .email-input {
    width: 50% !important;
    border-radius: 5px;
    font-size: 26px;
  }
  .controls-container .message-input {
    width: 60% !important;
    border-radius: 7px;
    font-size: 30px;
  }
}
